$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;

  section {
    padding: 40px 0 0 0;
    overflow: hidden;
    max-width: 100%;

    .card {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px;
    }
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    .ql-editor {
      min-height: 200px;
    }
    //LOGIN & REGISTER

    //NAVBAR

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 50px;
      }
      a {
        text-decoration: none;
      }
    }

    //HOME
  }
}
